<%= erb :header %>
<body>
    <h1 class="title"> Pizza Shed </h1>
    <br></br>
    <br></br>
<p id = "mainpage">Pizza Shed is the number 1 Twitter based pizza service in the UK. 
    
     Simply create an account then start tweeting to get
     high quality pizza and more delivered to your door!</p>
</body>

<%= erb :footer %>